//colors
$color-light-blue : #C7F7FF;
$color-med-blue : #89C0C9;
$color-dark-blue : #3A5E63;
$color-light-brown : #C9A689;
$color-dark-brown : #7C593C;
$color-light-grey : #d4d4d4;
$color-dark-grey : #222;
$white : #FFF;

//fonts
$default-font : 'Josefin Sans', ‘Trebuchet MS’, Helvetica, sans-serif;
$font-w : Cardo, ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;

$small-width : 701px;
$med-width : 901px;
$large-width : 1401px;
